{% extends 'base.html.twig' %}

{% block title %}Edit Langue
{% endblock %}

{% block body %}
	<h1>Langue</h1>

	{{ include('langue/_form.html.twig', {'button_label': 'Mise à jour'}) }}

	<a href="{{ path('langue_index') }}">Retour à la liste</a>

	{% if is_granted("ROLE_ADMIN") %}
		{{ include('langue/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
