{% extends 'base.html.twig' %}

{% block title %}Hello TermController!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>{{term.name }}</h1>
		<p>{{term.description }}</p>
		<p>{{term.category}}</p>
	</div>
{% endblock %}
