{% extends 'base.html.twig' %}

{% block title %}Page contact{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Nous contacter</h1>
    {{ form(formulaireContact)}}
</div>
{% endblock %}
